@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}

:root
{
    --bg-color: #191f36;
    --snd-bf-color: #262B40;
    --main-color: #fff;
    --text-color: #59B2F4;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body
{
    background: var(--bg-color);
    color: var(--text-color);
}

section
{
    padding: 10rem 9% 2rem;
    min-height: 100vh;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    padding: 20px 10%;
    display: flex;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
}

.logo 
{
    color: var(--text-color);
    font-weight: 700;
    cursor:default;
    font-size: 2.5rem;
}
.navbar a
{
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 4rem;
}
.navbar a:hover,
.navbar a.active
{
    color: var(--text-color);
}

#menu-icon
{
    color: var(--text-color);
    font-size: 3,6rem;
    display: none;
}

.home
{  
    justify-content: center;   
    display: flex;
    align-items: center;
}

.home-content h3
{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2)
{
    margin-bottom: 2rem;
}

span
{
    color: var(--main-color);
}

home-content h1 
{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img
{
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage
{
    0%
    {
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(-2.4rem);
    }
    100%
    {
        transform: translateY(0);
    }
}

.home-content p
{
    font-size: 1.6rem;
}

.social-media a
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
    color: var(--bg-color);
    transition: 0.5s ease;
}

.social-media a:hover
{
    background: var(--main-color);
    color: var(--snd-bg-color);
}

.btn
{
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 2rem;
    margin-top: 2rem;
    transition: 0.5s ease;
}

.btn:hover
{
    background: var(--main-color);
    color: var(--snd-bg-color);
}

.about
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* background: var(--snd-bf-color); */
}

.about-img img
{
    width: 35vw;
}

.heading
{
    font-size: 3.2rem;
    font-weight: 700;
}

.about-content h2
{
    line-height: 1.2;
    text-align: left;
}

.about-content h3
{
    font-size: 2.6rem;
}

.about-content p
{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.skill h2
{
    margin-bottom: 5rem;
}

.skill-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skill-container .skill-box
{
    width: 30%;
    /* flex: 1 1 30rem; */
    background: var(--snd-bf-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: 0.5s ease;
}

.skill-container .skill-box:hover
{
    border: .2rem solid var(--text-color);
    transform: scale(1.05);
}

.skill-container .skill-box i
{
    font-size: 7rem;
    color: var(--main-color);
}

.skill-container .skill-box h3
{
    font-size: 2.6rem;
}

.skill-container .skill-box p
{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}